<!DOCTYPE html>
<html lang="ja-JP">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <style>
    .site-header {
    }
    .site-content {
      margin-left: 100px;
    }
    .site-footer {
    }
    .site-info {
      font-size: 11px;
      text-transform: uppercase;
    }
    .slide {
      border: 1px solid;
    }
  </style>
</head>
<body>
<div id="content" class="site-content">
{{ content | safe }}
<footer class="site-footer">
  <p class="site-info">
    Shigeki Shoji &copy; 2022. Powered by <a href="https://www.11ty.dev/">Eleventy</a> and <a href="https://marp.app/">Marp</a>
  </p>
</footer>
</div>
</body>
</html>
