<!DOCTYPE html>
<html lang="ja-JP">
<head>
  <meta charset="utf-8" />
  {% set pageSocialImg %}{{ meta.url }}/previews/{{ title | slug }}.png{% endset %}
  <link rel="icon" type="image/png" href="{{ meta.url }}/img/pigumer.png" />
  <meta name="description" content="{{ description }}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@takesection" />
  <meta name="twitter:creator" content="@takesection" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ description }}" />
  <meta name="twitter:image" content="{{ cover if cover else pageSocialImg }}" />
  <meta property="og:site_name" content="Edward's Blog" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:image" content="{{ cover if cover else pageSocialImg }}" />
  <meta property="og:url" content="{{ meta.url }}{{ page.url }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>
  <link href="/css/style.css" rel="stylesheet" />
  <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet" />
</head>
<body>
<header class="site-header"><a href="/"><img class="logo" src="/img/pigumer.png" /></a></header>
<div id="content" class="site-content">
  <header class="post-header">
    <div class="post-meta">
      <time class="published" datetime="{{ page.date }}">{{ page.date | dateFormat }}</time>
    </div>
  </header>
  {{ content | safe }}
  <footer class="site-footer">
    <p class="site-info">
      Shigeki Shoji &copy; 2022. Powered by <a href="https://www.11ty.dev/">Eleventy</a> and <a href="https://marp.app/">Marp</a>
    </p>
  </footer>
</div>
</div>
</body>
</html>
