<!DOCTYPE html>
<html lang="ja-JP">
<head>
  <meta charset="utf-8" />
  {% set pageSocialImg %}{{ meta.url }}/previews/{{ title | slug }}.png{% endset %}
  <meta name="description" content="{{ description }}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@takesection" />
  <meta name="twitter:creator" content="@takesection" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ description }}" />
  <meta name="twitter:image" content="{{ pageSocialImg }}" />
  <meta property="og:site_name" content="Edward's Blog" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:type" content="blog" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:image" content="{{ pageSocialImg }}" />
  <meta property="og:url" content="{{ meta.url }}{{ page.url }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>
  <style>
    body {
      width: 882px; 
    }
    .logo {
      display: flex;
      width: 62px;
      height: 62px;
    }
    .site-header {
    }
    .site-content {
      margin-left: 50px;
    }
    .site-footer {
    }
    .site-info {
      font-size: 11px;
      text-transform: uppercase;
    }
    .slide {
      border: 1px solid;
      width: 768px;
      height: 432px;
    }
    .post-header {
      margin-bottom: 1.7em;
    }
    .post-meta {
      color: #000;
      font-size: 0.7rem;
    }
  </style>
  <head>
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
  </head>
</head>
<body>
<header class="site-header"><a href="/"><img class="logo" src="/img/pigumer.png" /></a></header>
<div id="content" class="site-content">
  <header class="post-header">
    <div class="post-meta">
      <time class="published" datetime="{{ page.date }}">{{ page.date | dateFormat }}</time>
    </div>
  </header>
  {{ content | safe }}
  <footer class="site-footer">
    <p class="site-info">
      Shigeki Shoji &copy; 2022. Powered by <a href="https://www.11ty.dev/">Eleventy</a> and <a href="https://marp.app/">Marp</a>
    </p>
  </footer>
</div>
</div>
</body>
</html>
