.logo {
    display: flex;
    width: 62px;
    height: 62px;
}
.site-header {
}
.site-content {
    width: 80%;
    margin-left: 10%;
}
.site-footer {
}
.site-info {
    font-size: 11px;
    text-transform: uppercase;
}
.slide {
    border: 1px solid;
    width: 80vw;
    height: 45vw;
}
.post-header {
    display: flex;
    margin-bottom: 1.7em;
}
.post-meta {
    color: #000;
    font-size: 0.7rem;
    float: right;
}
.post-meta-image {
    width: 24vw;
    height: 13.5vw;
    float: left;
    margin: 0 1em;
}
.post-feed .post {
    border-bottom: 1px solid #eee;
}
.post-feed-title {
    color: #333;
    font-size: 0.8rem;
    margin: 0 0 2em;
    text-transform: uppercase;
}
.post-title {
    font-size: 1.7rem;
}
.post-title a {
    color: inherit;
    text-decoration: none;
}