---
permalink: build/pages.json
permalinkBypassOutputDir: true
eleventyExcludeFromCollections: true
---
[{% for page in collections.all %}
	{
   "title":"{{ page.data.title | addNbsp | safe }}",
   "imgName":"{{ page.data.title | slug }}",
   "cover":"{{ page.data.cover }}"
   }{% if loop.last == false %},{% endif %}
{% endfor %}]
